<div class="container">
    <div class="row text-center">
        <h1>En Hueco</h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <table class="table table-condensed">
            <tbody>
            <tr ng-repeat="friend in friends">
                <td>
                    <img class="img-rounded user-img" ng-src="{{friend.smallPictureURL}}" alt="{{friend.name + ' ' + friend.lastName}}"/>
                </td>
                <td class="eat-it">
                    <span>{{friend.name + ' ' + friend.lastName}}</span><br />
                    Extra info
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <br/>
</div>