<div class="container">
    <div class="row text-center">
        <h1>Tu cuenta</h1>
    </div>
    <div id="calendar">

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {

        // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            header: null,
            firstDay: 1,
            weekends: false,
            minTime: '07:00:00',
            maxTime: '21:00:00',
            allDaySlot: false,
            allDayText: '',


        })

    });
</script>
<br/>
<br/>